* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: "Roboto", sans-serif;
     color:#181818;
}

a {
     color: initial;
     text-decoration: none;
}

.app-container {
     width: 60vw;
     height:80vh;
     margin: auto;
     display: flex;
     flex-direction: column;
     align-items: center;
     background-color: #F2F2F2;
}

.navbar-container {
     width: 100%;
     display: flex;
     background-color: #181818;
     padding: 1rem;
     justify-content: space-between;
}

.navbar-container a {
     color:#F2F2F2;
     transition: color 5ms ease-in-out;
}
.navbar-container a:hover {
     color: #5CB8E4;
}

.navbar-container > ul {
     display: flex;
     align-items: center;
}

.navbar-container li {
     list-style: none;
     margin-inline: 1rem;
}

.exercises-list {
     width:100%;
}

.exercises-list>table {
     width:90%;
     margin:auto;
     margin-block: 1rem;
     border: solid 1.5px #181818;
     padding:0.5rem;
}

.exercises-list th {
     border: solid 1.5px #181818;
     background-color: #8758FF;
     color: #F2F2F2;
     padding:0.2rem;
     margin: 0.2rem;
     letter-spacing: 1.5px;
}

.exercises-list td {
     border: solid 1px #181818;
     text-align: center;
     background-color: #FFABE1 ;
}

.exercises-list button {
     width:40%;
     padding:0.3rem;
     border-radius: 5px;
     margin:0.2rem;
     border: none;
}

.exercises-list button:hover,
.exercises-list button:hover>a {
     background-color:#5CB8E4 ;
     color: #F2F2F2;
     cursor: pointer;
}

.form-container {
     width:60%;
}

.form-container>h1 {
     color: #8758FF;
}

.form-container form {
     display: flex;
     flex-direction: column;
     justify-content: center;
}
.form-container .form-div {
     display: flex;
     justify-content: flex-end;
     align-items: center;
}

.form-container .form-div input,
.form-container .form-div select {
     padding:0.3rem;
     width:50%;
}